.App {
  text-align: center;
  background-image: linear-gradient(#326a84, #d3f1ff);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
.Link {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.Map {
  /* height: 50vh; */
  /* width: 50vh; */
  border: 1px solid black;

  /* position: relative; */
  height: 70vh;
  width: 110vh;
  /* outline: currentcolor none medium; */
  /* padding-left: 434px; */
  margin: auto;
  /* position: absolute;
  z-index: 1; */
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* .feedback.Mui-selected {
  color: "blue";
} */

.nav-item {
  color: white;
  text-align: end;
  align-items: legacy;
  display: flex;
}
.nav-item:hover {
  cursor: pointer;
  background-color: white;
  color: cornflowerblue;
  border-radius: 10px;
  padding: 7px 7px 7px 7px;
}

.city-data {
  color: white;
  display: flex;
  align-items: center;
}

.logo {
  height: 55px;
  margin-top: 4px;
}

.auto-complete {
  color: white;
  /* background-color: white; */
}

.MuiAutocomplete-root {
  color: white;
  font-size: 10px;
}

.main_navigation_item {
  color: white;
  padding: 5px;
  text-align: center;
}

.connect-icons {
  margin: 15px;
}

.main_navigation_item:hover {
  /* border-bottom-width: 50pc; */
  /* position: absolute; */
  bottom: 0px;
  /* left: 25%; */
  width: 50%;

  cursor: pointer;
  border-bottom: 2px solid white;
}

.main_navigation_item:active {
  border-bottom: 2px solid white;
}

.card-content {
  display: flex;
  align-items: center;
}

.card {
  /* border: 1px solid black; */
  margin: 10px;
  border-radius: 10px;
}

.card-1d {
  background-image: url("data/background-photo/01d.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-1n {
  background-image: url("data/background-photo/01n.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-2d-3d {
  background-image: url("data/background-photo/02d_03d.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-2n-3n {
  background-image: url("data/background-photo/02n_03n.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-4d {
  background-image: url("data/background-photo/04d.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-4n {
  background-image: url("data/background-photo/04n.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-10d-09d {
  background-image: url("data/background-photo/10d_09d.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}
.card-10n-09n {
  background-image: url("data/background-photo/10n_09n.jpg");
  /* background-image: url("data/nature.jpg"); */
  background-repeat: no-repeat;
}

.card-11d {
  background-image: url("data/background-photo/11d.jpg");
  background-repeat: no-repeat;
}
.card-13d {
  background-image: url("data/background-photo/13d.jpg");
  background-repeat: no-repeat;
}
.card-50d {
  background-image: url("data/background-photo/50d.jpg");
  background-repeat: no-repeat;
}

.card-11n {
  background-image: url("data/background-photo/11n.jpg");
  background-repeat: no-repeat;
}
.card-13n {
  background-image: url("data/background-photo/13n.jpg");
  background-repeat: no-repeat;
}
.card-50n {
  background-image: url("data/background-photo/50n.jpg");
  background-repeat: no-repeat;
}

.tempButton:active {
  background-color: aqua;
}

.right-border {
  border-right: 4px solid;
  /* margin: 10px; */
}

.feedback,
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.air-grid-item {
  display: "flex";
  justify-content: "space-evenly";
  margin: "10px 0px 10px 0px";
  font-size: "large";
}
